* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

header {
    background: rgb(255, 255, 255, 0, 1);
    /*Đổ bóng cho menu*/
    display: flex;
    justify-content: space-between;
    /* cách đều khoản giữa */
    padding: 50px 50px;
    /* trên dưới 50px trái phải  50px */
    height: 70px;
    align-items: center;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    /*Nằm trên cùng*/
    position: fixed;
    /* box-shadow: rgb(190, 188, 188) */
    /*Đổ bóng cho menu*/
}

header:hover {
    background: rgb(255, 255, 255, 1);
}

.logo {
    flex: 1;
    padding-top: 5px;
    background: transparent;
}

.menu {
    flex: 3;
    display: flex;
}

.menu li {
    padding: 10px 20px;
    position: relative;
}

.menu li:hover {
    color: orangered;
}

.menu li:hover .sub-menu {
    visibility: visible;
    top: 40px;
}

.sub-menu {
    position: absolute;
    width: 150px;
    border: 1px solid #333;
    padding: 10px 0 10px 10px;
    /* trên 10px phải 0 dưới 10px trái 20px    */
    visibility: hidden;
    top: 50px;
    transition: 0.3s;
    background: #fff;
}

.sub-menu li {
    padding: 5px 15px;
}


/* .sub-menu li ul li {
    font-weight: normal;
    font-size: 12px!important;
} */

.smallmenu .li {
    font-weight: normal!important;
    font-size: 12px!important;
}

.menu li a {
    font-size: 14px;
    font-weight: bold;
    display: block;
    line-height: 20px;
}


/* .menu li a:hover {
    color: orangered;
} */

.other {
    flex: 1;
    display: flex;
}

.other li {
    padding: 10px 12px;
}

.other li:first-child {
    position: relative;
}

.other li:first-child input {
    width: 100%;
    border: none;
    background: transparent;
    border-bottom: 1px solid #333;
    outline: none;
}

.other li:first-child i {
    position: absolute;
    right: 10px;
}
/* -----------categoty----------- */
.row{
  display :flex;
  flex-wrap:wrap;
}
/* ------------foster------- */
#foster {
    width: 100%;
    height: 400px;
    margin-top: 200px;
    padding-top: 37px;
    background: #000;
    display: flex;
    justify-content: space-around;
}

#foster .box {
    width: 250px;
    color: #fff;
}

#foster .box .quick-menu {
    margin-top: 40px;
}

#foster .box .quick-menu .item {
    margin-bottom: 12px;
}

#foster .box .quick-menu .item a {
    color: #fff;
    text-decoration: none;
}

#foster .box form input {
    width: 294px;
    height: 42px;
    margin-top: 30px;
    background: transparent;
    padding-left: 20px;
    color: #fff;
}

#foster .box form button {
    background: #362f2f;
    box-shadow: 5px 4px 4px rgba(0, 0, 0.25);
    margin-top: 29px;
    height: 38px;
    width: 163px;
    color: #fff;
}

#foster .box form button:hover {
    color: #000;
}

.map {
    margin-top: 10px;
}



/* -------------------category------------- */
.category{
/*   padding :120px 0 0; */
  	padding: 120px 0 0 70px;
/*   trên phải dưới trái */
/*   Giá trị đầu tiên là phần padding top.
Giá trị thứ hai là phần padding right và left.
Giá trị thứ ba là phần padding bottom. */
}
.category-top{
  margin-bottom:70px;
}
.category-top p{
  font-family:var(--main-text-font);
  margin:0 10px;
  font-size:12px;
}
.category-left{
  width:20%;

}
.category-right{
  width:80%;
}
.category-right-top-item:first-child{
  font-family:var(--main-text-font);
  font-size:16px;
  flex:2;
  font-weight:bold;
}
.category-right-top-item{
  flex:1;
  padding:0 15px;
}
.category-right-top-item button{
  width:100%;
  padding:10px 12px;
  justify-content:space-between;
  display:flex;
  
  background-color:#fff;
  border:1px solid #dddddd;
  cursor:pointer;
  
  
}
.category-right-top-item select{
   width:100%;
  padding:10px 12px;
  justify-content:space-between;
  display:flex;
  background-color:#fff;
  border:1px solid #dddddd;
  cursor:pointer;
}
.category-right-content{
  margin-top:20px;
  justify-content:space-between;
}
.category-right-content-item{
  width:calc(25% - 5px);
  text-align:center;
  padding:12px 0;
  
}
.category-right-content-item img{
  max-width:100%;
  width : 260px;
  height: 300px;
 
}
.category-right-content-item h2{
  font-family:var(--main-text-font);
  font-size:15px;
  color:#333333;
  margin-top:5px;
}
.category-right-content-item{
    font-size: 15px;
}
.category-right-bottom{
    /* flex: 2; */
    width: 100%;
    margin-top: 30px;
    justify-content: space-between;
    margin-bottom: 40px;
    
}
.category-right-bottom-item{
    padding:20px 20px;
    
}
.category-right-bottom p{
    font-size: 13px;
}
.category-left ul li{
    /* font-weight: bold; */
    padding: 5px 0 ;
}
.category-left ul li a{
    color: #000;
    font-weight: bold;
    font-size: 16px;
    font-family:var(--main-text-font);
}
.category-left ul li ul li{
    padding-left: 12px;
    font-weight: normal;
}
.category-left-li ul{
   display: none;
}

.category-left-li.block ul{
    display: block;
    font-weight: normal;
}

.category-left ul li ul li a{
    font-size: 13px;
    font-weight: normal
    ;
}